apiVersion: v1
kind: Service
metadata:
  name: {{ include "argus.fullname" . }}-backend
  labels:
    {{- include "argus.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "argus.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: backend
