apiVersion: v1
kind: Secret
metadata:
  name: {{ include "argus.fullname" . }}-secret
  labels:
    {{- include "argus.labels" . | nindent 4 }}
type: Opaque
data:
  databaseURL: {{ .Values.backend.env.databaseURL | b64enc | quote }}
  jwtSecret: {{ .Values.backend.env.jwtSecret | b64enc | quote }}
  encryptionKey: {{ .Values.backend.env.encryptionKey | b64enc | quote }}
  dbPassword: {{ .Values.postgresql.env.password | b64enc | quote }}
  {{- if .Values.oidc.enabled }}
  oidcClientSecret: {{ .Values.oidc.clientSecret | b64enc | quote }}
  {{- end }}
